<section class="content">
    <img src="../../../assets/foto.png" alt="Imagem Dev" class="img">
    <section class="about">
        <h1 class="titulo">Olá 👋 <br> Eu sou Mislene Silva</h1>
        <p class="subtitulo">Sou desenvolvedora, brasileira, radicada em São Paulo no Brasil.</p>
        <p class="subtituloTwo">Formada pela <a href="https://www.laboratoria.la/br" target="_blank">Laboratória</a> e cursando Análise e Desenvolvimento de Sistemas. <br>Descubra aqui os meus projetos e habilidades relacionados a Desenvolvimento Web.
        </p>
        <div class="btn">
            <button><a href="mailto:mislene.moura2000@gmail.com">Contato</a></button>
            <button><a href="../../../assets/Currículo - MISLENE SILVA MOURA.pdf" download>CV</a></button>
        </div>
    </section>
    <section class="icons">
        <a href="https://www.linkedin.com/in/mislenemoura/" target="_blank"><img src="../../../assets/linkedin.png" alt="Icone Linkedin"></a>
        <a href="https://github.com/MisleneSM" target="_blank"><img src="../../../assets/github.png" alt="Icone Linkedin"></a>
    </section>
</section>