<section>
    <div class="photo">
        <img src="../../../assets/foto.png" alt="Imagem Dev" class="img">
    </div>
    <div class="about">
        <h1 class="titulo">Olá 👋 <br> Eu sou Mislene Silva</h1>
        <p class="subtitulo">Sou desenvolvedora front-end, brasileira, radicada em São Paulo no Brasil.</p>
        <p class="subtituloTwo">Formada pela laboratória e cursando Análise e Desenvolvimento de Sistemas.<br>Descubra
            aqui
            os
            meus projetos e habilidades relacionados a <br>Desenvolvimento Web.</p>
        <div class="btn">
            <button><a href="mailto:mislene.moura2000@gmail.com">Contato</a></button>
            <button><a href="../../../assets/Currículo - MISLENE SILVA MOURA.pdf" download>CV</a></button>
        </div>
    </div>
</section>