<section class="container">
    <h1 class="title">Meus Projetos</h1>
    <section class="project">
        <section *ngFor="let project of projectsData" class="itens">
            <div class="circle">
                <img [src]="project.img" alt="{{project.title}}" class="img">
                <h2>{{project.title}}</h2>
                <p class="details">{{project.details}}</p>
                <section class="skillsImg">
                    <div *ngFor="let skill of project.skills" class="nameSkills">
                        <img [src]="skill.urlImg" class="imgSkills">
                    </div>
                </section>
                <section class="btnProject">
                    <a [href]="project.link" target="_blank">Deploy</a>
                    <a [href]="project.repo" target="_blank">Repo</a>
                </section>
            </div>
        </section>
    </section>
</section>
